include .coveragerc
include .travis.yml
include AUTHORS
include CHANGES.yml
include CODE_OF_CONDUCT.md
include LICENSE
include MANIFEST.in
include Pipfile
include Pipfile.lock
include pytest.ini
include README.rst
include requirements.txt
include setup.cython.py
include setup.py
include show_colors.py
include syspy.py
include tox.ini
include toxcov.ini
