[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
pytest-cov = "*"
coverage = "*"

[packages]
textcolors = {editable = true,path = "."}
pygments = "*"

[requires]
python_version = "3.7"
